<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :project_id %>
    <%= f.collection_select :project_id, Project.all, :id, :name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :activity_id %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :minutes %>
    <%= f.text_field :minutes %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <div data-role="fieldcontain">
    <%= f.submit %>
  </div>
<% end %>
