<h1>Listing works</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Activity</th>
    <th>Date</th>
    <th>Minutes</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @works.each do |work| %>
  <tr>
    <td><%= work.project_id %></td>
    <td><%= work.activity_id %></td>
    <td><%= work.date %></td>
    <td><%= work.minutes %></td>
    <td><%= work.description %></td>
    <td><%= link_to 'Show', work %></td>
    <td><%= link_to 'Edit', edit_work_path(work) %></td>
    <td><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work', new_work_path %>
