<div data-role="header">
  <h1>Listing works</h1>
  <%= link_to 'Home', {controller: :home, action: :index}, 'data-ajax' => 'false'
  %>
</div>

<div data-role="content">
<%= link_to 'Log Time', new_work_path, {'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false' } %>
<%= link_to 'CSV', {controller: 'works', action: 'index', format: 'csv'}, {'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false' } %>

  <p id="notice"><%= notice %></p>

  <% @works.each do |work| %>
    <div class="workitem">
      <div>
        <%= link_to(
          "#{work.date}: #{work.activity.name} on #{work.project.name}",
          edit_work_path(work),
        )%>
      </div>
      <div><%= work.minutes %> minutes</div>
      <div><%= work.description %></div>
      <div align="right"><%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>
